.nav-container{
    position: fixed;
    transform: rotate(90deg);
    transform-origin: center;
    width: auto;
    /* float: none; */
    right: 20px;
    top: 100px;
    text-decoration: none;
}

.nav-container li{
  list-style: none;
  float: left;
  margin: 0 20px 0 0;
  text-decoration: none;
  font-size: 10px;
}


.nav-container li a{
  text-decoration: none;
}
